.signup_caption{
    color: blue;
    text-align: center;
}
.wrapper{
    width: 60%;
    margin: 0 auto;
    border: 3px solid green;
    background-color: lightgreen;
}
label{
    font-size: 20px;
    padding-left: 10px;
}
.first_name, .last_name, .email, .password{
    width: 90%;
    height: 20px;
    padding: 8px;
    font-size: 16px;
    padding-left: 10px;
}
.gender, .education, .message{
    padding-left: 10px;
}
